<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contact_information')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact_information" data-rule="required" class="form-control" name="row[contact_information]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Working status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-workingstatus" data-rule="required" class="form-control selectpicker" name="row[working_status]">
                {foreach name="workingStatusList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gender')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-gender" data-rule="required" class="form-control selectpicker" name="row[gender]">
                {foreach name="genderList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Age')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-age" class="form-control" name="row[age]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Resource')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-resource" class="form-control" name="row[resource]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nationality')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-nationality" data-rule="required" class="form-control selectpicker" name="row[nationality]">
                {foreach name="nationalityList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Passport')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-passport" data-rule="required" class="form-control" name="row[passport]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Degree')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-degree" data-rule="required" class="form-control selectpicker" name="row[degree]">
                {foreach name="degreeList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Certificate')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-certificate" class="form-control selectpicker" multiple="" name="row[certificate][]">
                {foreach name="certificateList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Visa_status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
            {foreach name="visaStatusList" item="vo"}
            <label for="row[visa_status]-{$key}"><input id="row[visa_status]-{$key}" name="row[visa_status]" type="radio" value="{$key}" {in name="key" value="Yes"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Arriving_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-arriving_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[arriving_time]" type="text" value="{:date('Y-m-d')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expected_salary')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expected_salary" data-rule="required" class="form-control" name="row[expected_salary]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Chinese')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-chinese" data-rule="required" class="form-control selectpicker" name="row[chinese]">
                {foreach name="chineseList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expected_city_1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-expected_city_1" data-rule="required" class="form-control selectpicker" name="row[expected_city_1]">
                {foreach name="expected_city_1_list" item="vo"}
                <option value="{$vo['code']}">{$vo['province']}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expected_city_2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-expected_city_2" data-rule="required" class="form-control" name="row[expected_city_2]">
                {foreach name="expected_city_2_list" item="vo"}
                <option value="{$vo['code']}">{$vo['city']}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-company_type" data-rule="required" class="form-control selectpicker" name="row[company_type]">
                {foreach name="companyTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credit_score')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-credit_score" data-rule="required" class="form-control selectpicker" name="row[credit_score]">
                {foreach name="creditScoreList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remarks')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remarks" data-rule="required" class="form-control " rows="5" name="row[remarks]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attachment_files')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-attachment_files" data-rule="required" class="form-control" size="50" name="row[attachment_files]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-attachment_files" class="btn btn-danger plupload" data-input-id="c-attachment_files" data-multiple="true" data-preview-id="p-attachment_files"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-attachment_files" class="btn btn-primary fachoose" data-input-id="c-attachment_files" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-attachment_files"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-attachment_files"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
        $("#c-expected_city_1").change(function () {
            var pid = $("#c-expected_city_1").val();
            $.ajax({
                url:'/admin/foreignteachers/getCityList?pid='+pid,
                type:'post',
                success:function(res) {
                    $("#c-expected_city_2").html(res);
                },
            })
        });
</script>
