<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gender')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-gender" data-rule="required" class="form-control selectpicker" name="row[gender]">
                {foreach name="genderList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nationality')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-nationality" data-rule="required" class="form-control selectpicker" name="row[nationality]">
                {foreach name="nationalityList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Passport_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-passport_no" class="form-control" name="row[passport_no]" type="text">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Contact_information')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-contact_information" class="form-control" name="row[contact_information]" type="text">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reporter')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reporter" class="form-control" name="row[reporter]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reason_for_blacklist')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-reason_for_blacklist" class="form-control " rows="5" name="row[reason_for_blacklist]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attachment Files')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-attachment_files" data-rule="required" class="form-control" size="50" name="row[attachment_files]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-attachment_files" class="btn btn-danger plupload" data-input-id="c-attachment_files" data-multiple="true" data-preview-id="p-attachment_files"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-attachment_files" class="btn btn-primary fachoose" data-input-id="c-attachment_files" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-attachment_files"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-attachment_files"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
